---
import { PUBLIC_API_URL } from "astro:env/server";

const { carpetaBucket, filename } = Astro.props;
const res = await fetch(
    `${PUBLIC_API_URL}/download/${carpetaBucket}/${filename}`,
);
const data = await res.json();
const url = data.url;
---

<a  href={url}
    title={`descargar app - ${carpetaBucket}`} 
    target="_blank" 
    rel="noopener noreferrer" 
    class="button">

    <span class="button__text">Descargar</span>
    <span class="button__icon">
        <svg class="svg" data-name="Layer 2" viewBox="0 0 35 35">
            <path
                d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"
                fill="#ffffff"></path>
            <path
                d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"
                fill="#ffffff"></path>
            <path
                d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"
                fill="#ffffff"></path>
        </svg>
    </span>
</a>

<style>
    .button,
    a.button {
        --main-focus: #2d8cf0;
        --font-color: #dedede;
        --bg-color-sub: oklch(35.9% 0.144 278.697);
        --bg-color: #323232;
        --main-color: #ffffff;
        position: relative;
        width: 150px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 2px solid var(--main-color);
        box-shadow: 4px 4px var(--main-color);
        background-color: var(--bg-color);
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none; /* Importante para <a> */
        appearance: none;
    }

    .button,
    .button__icon,
    .button__text {
        transition: all 0.3s;
    }

    .button .button__text {
        transform: translateX(21px);
        color: var(--font-color);
        font-weight: 600;
    }

    .button .button__icon {
        position: absolute;
        transform: translateX(109px);
        height: 100%;
        width: 39px;
        background-color: var(--bg-color-sub);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button .svg {
        width: 20px;
        fill: var(--main-color);
    }

    .button:hover {
        background: var(--bg-color);
    }

    .button:hover .button__text {
        color: transparent;
    }

    .button:hover .button__icon {
        width: 148px;
        transform: translateX(0);
    }

    .button:active {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px var(--main-color);
    }
</style>
